.header {
    background: linear-gradient(to right, #202020 50%, #303030 50%);
    max-width: 1024px;
    margin: 0 auto;
    padding: 16px;
    
    @media (max-width: 768px) {
        background: linear-gradient(to right, #202020 50%, #202020 50%);
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        &__brand {
            font-size: 14px;
        }

        &__nav {
            
            &__box {
                display: flex;
                @media (max-width: 768px) {
                    margin-top: 16px;
                }
                &__item {
                    margin-right: 24px;
                    @media (max-width: 768px) {
                        background-color: rgb(43, 43, 43);
                        border-top: 2px solid rgb(31, 31, 31);
                        padding: 8px;
                        border-radius: 8px;
                    }

                    &__link {
                        text-decoration: none;
                        font-weight: bold;
                        color: #fff;

                        &:hover {
                            border-bottom: 1px solid #ccc;
                            transition: border-bottom .8s ease;
                        }
                    }
                }
            }
        }
        
    }
}